Repository bordenet/genesis: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

fix(diff): improve detection pattern check and test coverage analysis
  project-diff/diff-projects.js
Due: none

fix(diff): improve detection pattern check and test coverage analysis (#164)
  project-diff/diff-projects.js
Due: none

fix(diff): mark docs/Scoring_Methods.md as intentionally different
  project-diff/diff-projects.js
Due: none

fix(diff): mark docs/Scoring_Methods.md as intentionally different (#165)
  project-diff/diff-projects.js
Due: none

fix(diff): treat INTENTIONAL_DIFF files as intentional even when missing from projects
  project-diff/diff-projects.js
Due: none

fix(diff): treat INTENTIONAL_DIFF files as intentional even when missing from projects (#166)
  project-diff/diff-projects.js
Due: none

docs: clarify AI mutation problem and consistency tooling evolution
  BACKGROUND.md
Due: none

docs: clarify AI mutation problem and consistency tooling evolution (#167)
  BACKGROUND.md
Due: none

Fix broken links, extend validator, rename adversarial guide
  BACKGROUND.md
  CONTINUOUS_IMPROVEMENT.md
  genesis-validator/cmd/genesis-validator/main.go
  genesis-validator/internal/validator/link_validator.go
  genesis-validator/internal/validator/types.go
  genesis-validator/internal/validator/validator.go
  genesis/00-GENESIS-PLAN.md
  genesis/ADVERSARIAL-TESTING-GUIDE.md
  genesis/CHECKLIST.md
  genesis/code-consistency/the-problem.md
  genesis/docs/ENVIRONMENT-SETUP.md
  genesis/examples/README.md
  genesis/examples/hello-world/docs/SAME-LLM-ADVERSARIAL.md
  genesis/integration/project-setup/phase4-validation-system.md
  genesis/troubleshooting/01-module-errors.md
Due: javascript, go

Add API contract checking to project-diff tool
  genesis/examples/hello-world/assistant/tests/smoke.test.js
  genesis/examples/hello-world/validator/js/validator.js
  project-diff/diff-projects.js
Due: javascript

feat(diff): add API contract checking to project-diff tool
  genesis/examples/hello-world/assistant/tests/smoke.test.js
  genesis/examples/hello-world/validator/js/validator.js
  project-diff/diff-projects.js
Due: javascript

docs: Add MANDATORY validator alignment test requirement (#160)
  Agents.md
  genesis/01-AI-INSTRUCTIONS.md
  genesis/CODE-CONSISTENCY-MANDATE.md
  genesis/TESTING-PROCEDURE.md
  genesis/quality-standards/01-code-testing.md
Due: none

docs: rename 'Cross-LLM adversarial testing' to 'Adversarial testing'
  BACKGROUND.md
Due: none

docs: rename 'Cross-LLM adversarial testing' to 'Adversarial testing' (#170)
  BACKGROUND.md
Due: none

feat(project-diff): Add canonical code pattern enforcement
  project-diff/diff-projects.js
Due: none

feat(project-diff): Add canonical code pattern enforcement (#171)
  project-diff/diff-projects.js
Due: none

fix: resolve eslint 10 preserve-caught-error lint issue in hello-world
  genesis/examples/hello-world/shared/js/ui.js
Due: javascript

fix: resolve eslint 10 preserve-caught-error lint issue in hello-world (#172)
  genesis/examples/hello-world/shared/js/ui.js
Due: javascript

docs: fix AI slop in About section
  README.md
Due: none

docs: fix AI slop in About section (#176)
  README.md
Due: none

docs: simplify About section, link to BACKGROUND.md
  README.md
Due: none

docs: simplify About section, link to BACKGROUND.md (#177)
  README.md
Due: none

docs: reframe About section - useful exercise, not failure
  README.md
Due: none

docs: reframe About section - useful exercise, not failure (#178)
  README.md
Due: none

docs: Add AI-First Development section with 2026 industry data
  README.md
Due: none

docs: Add reference to Engineering_Culture blog post on 2026 AI development data
  BACKGROUND.md
Due: none

docs: Add AI-First Development section with 2026 industry data (#179)
  BACKGROUND.md
  README.md
Due: none

docs: Add Star Trek origin story for the project name
  README.md
Due: none

docs: Add Star Trek origin story for the project name (#180)
  README.md
Due: none

fix: Remove em-dashes and AI slop from README and BACKGROUND
  BACKGROUND.md
  README.md
Due: none

fix: Remove em-dashes and AI slop from README and BACKGROUND (#181)
  BACKGROUND.md
  README.md
Due: none

feat: add package.json scripts consistency analyzer
  project-diff/diff-projects.js
Due: none

fix: honest README copy + package.json scripts analyzer
  README.md
Due: none

docs: add notice pointing to DocForge AI
  BACKGROUND.md
Due: none

docs: add notice pointing to DocForge AI (#183)
  BACKGROUND.md
Due: none

refactor: reduce hello-world Agents.md from 350 to 249 lines
  genesis/examples/hello-world/Agents.md
Due: javascript

refactor: reduce hello-world Agents.md from 350 to 249 lines (#184)
  genesis/examples/hello-world/Agents.md
Due: javascript

refactor: split ui.js and slop-detection.js into modular files
  genesis/examples/hello-world/shared/js/slop-detection.js
  genesis/examples/hello-world/shared/js/slop-patterns.js
  genesis/examples/hello-world/shared/js/slop-scoring.js
  genesis/examples/hello-world/shared/js/slop-stylometric.js
  genesis/examples/hello-world/shared/js/ui-action-menu.js
  genesis/examples/hello-world/shared/js/ui-clipboard.js
  genesis/examples/hello-world/shared/js/ui-document-preview.js
  genesis/examples/hello-world/shared/js/ui-formatters.js
  genesis/examples/hello-world/shared/js/ui-modals.js
  genesis/examples/hello-world/shared/js/ui-theme.js
  genesis/examples/hello-world/shared/js/ui-toast.js
  genesis/examples/hello-world/shared/js/ui.js
Due: javascript

Path conditions:
  javascript: any of: genesis/examples/hello-world/, but not: tests/**/*, scripts/**/*, docs/**/*, node_modules/**/*, *.config.js, *.setup.js, _archive/**/*, project-diff/**/*
  go: any of: genesis-validator/, but not: tests/**/*, scripts/**/*, docs/**/*, node_modules/**/*, *.config.js, *.setup.js, _archive/**/*, project-diff/**/*
